// Specific CSS for your home-page
.home {
  h2,
  h5 {
    color: white;
  }
  a {
    display: inline-block;
    color: black;
    text-shadow: rgba(30, 30, 30, 0.2);
    background-color: $yellow;
    margin: 8px;
    padding: 2px 8px;
    border-radius: 2px;
    text-decoration: none;
  }
}

.cards-border {
  margin: 0px 16px 16px 16px;
  border-radius: 8px;
}
.border {
  &-yellow {
    border: solid 3px $yellow;
  }
  &-red {
    border: solid 3px $red;
  }
}

.game-card {
  background-color: white;
  margin: 8px;
  border-radius: 4px;
  padding: 8px;
  &-info {
    display: flex;
    justify-content: space-between;
  }
  &-join {
    text-align: right;
  }
  &-players {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &-player {
    width: 48px;
    text-align: center;
  }
}
.new-game {
  background-color: white;
  margin: 8px;
  border-radius: 4px;
  padding: 8px;
  &-form {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }
  .form-group {
    margin: 0;
  }
}

.btn {
  &-dice {
    height: 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(20, 20, 20, 0.3);
    text-shadow: 1px 1px 1px rgba(30, 30, 30, 0.2);
  }
  &-home {
    width: 56px;
  }
  &-yellow {
    background-color: $yellow;
    color: black;
  }
  &-red {
    background-color: $red;
    color: white;
  }
  &-new-game {
    width: 96px;
    color: white;
  }
}

.user-photo {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: solid 2px $yellow;
  box-shadow: 1px 1px 2px rgba(20, 20, 20, 0.3);
}
.player-count {
  width: 56px;
}

// queue page
.queue {
  p,
  h3,
  i {
    color: white;
  }
  P {
    margin: 16px;
  }
}
