@import "form";

.dice2 {
  background: url("/assets/dice2.png");
}
.dice3 {
  background: url("/assets/dice3.png");
}
.dice4 {
  background: url("/assets/dice4.png");
}
.dice5 {
  background: url("/assets/dice5.png");
}
.dice6 {
  background: url("/assets/dice6.png");
}

.dice-img {
  color: transparent;
  background-size: cover;
  height: 62px;
  width: 62px;
  border: none;
  border-radius: 2px;
}
// action
.action {
  padding: 8px;
  background-color: white;
  border-radius: 4px;
  min-height: 100%;
  flex: 1 1 auto;
  .dice-img {
    height: 30px;
    width: 30px;
  }
  p {
    margin: 0;
    color: black;
  }
}
.action-box {
  margin: 8px;
  background-color: black;
  border-radius: 8px;
  padding: 8px;
  border: solid 3px $yellow;
}
.action-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bet-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.bet-quantity {
  width: 88px;
}
.bet-value {
  img {
    width: 28px;
  }
}

// section arrangement
.competitors {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20vw 8vw;
  .dice-img {
    height: 28px;
    width: 28px;
  }
  z-index: 2;
}
.competitor {
  padding: 8px 8px 16px 8px;
  border-radius: 4px;
}
.current-bet {
  background-color: black;
  width: 110vw;
  padding: 16px;
  border: solid 1vw $yellow;
  img {
    height: 40px;
    width: 40px;
  }
  h3 {
    margin: 0;
    color: white;
  }
}
.current-bet-border {
  background-color: black;
  padding: 1.2vw;
}
.current-user {
  h1 {
    color: white;
  }
}

.player-name {
  h2 {
    display: none;
  }
  display: flex;
  justify-content: center;
}

.hide {
  img {
    content: url("/assets/dice7.png");
  }
}
// back
.back {
  color: white;
  display: block;
  text-align: initial;
  padding: 4px 0;
}

.button {
  color: white;
  background: black;
  border-radius: 4px;
  padding: 8px;
}

// background design
.background {
  position: relative;
}
.circle-box {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  margin-top: 3vw;
}

.circle {
  width: 110vw;
  height: 110vw;
  background-color: black;
  border-radius: 50%;
  border: solid 1vw $yellow;
  padding: 1.2vw;
}
.circle-content {
  border-radius: 50%;
  background-color: white;
  width: 105.6vw;
  height: 105.6vw;
  //players
  display: flex;
  justify-content: center;
  align-items: center;
}
