.background {
  background-color: lightblue;
}

.dice2 {
  background-image: url("/assets/dice2.png");
}
.dice3 {
  background: url("../assets/dice3.png");
}
.dice4 {
  background: url("../assets/dice4.png");
}
.dice5 {
  background: url("../assets/dice5.png");
}
.dice6 {
  background: url("../assets/dice6.png");
}

.dice-img {
  color: transparent;
  background-size: cover;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 2px;
}

.action {
  border: 1px solid black;
  margin: 16px;
  padding: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .dice-img {
    height: 40px;
    width: 40px;
  }
}
.bet-form {
  display: flex;
  align-items: center;
}
.bet-quantity {
  width: 88px;
}

// section arrangement
.competitors {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  .dice-img {
    height: 30px;
    width: 30px;
  }
}
.current-bet {
  margin: 48px;
}
.current-user {
  margin-bottom: 16px;
}
