.dice2 {
  background: url("/assets/dice2.png");
}
.dice3 {
  background: url("/assets/dice3.png");
}
.dice4 {
  background: url("/assets/dice4.png");
}
.dice5 {
  background: url("/assets/dice5.png");
}
.dice6 {
  background: url("/assets/dice6.png");
}

.dice-img {
  color: transparent;
  background-size: cover;
  height: 62px;
  width: 62px;
  border: none;
  border-radius: 2px;
}

.action {
  padding: 8px;
  background-color: white;
  border-radius: 4px;
  min-height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .dice-img {
    height: 30px;
    width: 30px;
  }
  p {
    margin: 0;
  }
}
.bet-form {
  display: flex;
  align-items: center;
}
.bet-quantity {
  width: 88px;
}

.hide {
  img {
    content: url("/assets/dice7.png");
  }
}
// section arrangement
.competitors {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  .dice-img {
    height: 28px;
    width: 28px;
  }
}
.competitor {
  background-color: white;
  padding: 8px 8px 16px 8px;
  border-radius: 4px;
}
.current-bet {
  margin: 8px 0;
  background-color: white;
  padding: 16px;
  border-radius: 4px;
  h3 {
    margin: 0;
  }
}

.player-name {
  h2 {
    display: none;
  }
  display: flex;
  justify-content: center;
}
