<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "Current Game", games_url(@game) %>
<%= link_to "Index", games_url(@game) %>
<%= link_to "New", new_game_path %>
<%= link_to "Delete", games_url(@game) %>
