<h2>current bet <%= @game.quantity %> x <%= image_tag "dice#{@game.value}.png" , width: 60, class: 'dice-img' %></h2>
<div class="turn" data-current-turn="<%=@game.users[@game.turn].email == current_user.email%>"></div>
