<h1><%= user.name %></h1>
<% if user.email == @game.users[@game.turn].email %>
  <i class="fas fa-angle-double-right"></i>
<% end %>
<% user.dice.each do |die| %>
  <%= image_tag "dice#{die}.png" , width: 60, class: 'dice-img' %>
<% end %>
