<div class="queue">
  <i class="fas fa-spinner fa-spin"></i>
  awaiting players
  <% @game.users.each do |user|%>
    <h3><%= user.email %></h3>
  <% end %>
  <% if current_user == @game.owner %>
    <%= simple_form_for(@game) do |f| %>
      <%= f.hidden_field :action, value: 'start' %>
      <%= f.submit "Start"%>
    <% end %>
  <% end %>
</div>
