<div class="queue">
  <i class="fas fa-spinner fa-spin"></i>
  awaiting players
  <% @game.users.each do |user|%>
    <h3><%= user.name %></h3>
  <% end %>
  <%= simple_form_for(@game) do |f| %>
    <%= f.hidden_field :action, value: 'start' %>
    <%= f.submit "Start"%>
  <% end %>
</div>
