.navbar-lewagon {
  justify-content: space-between;
  background-color: pink;
  color: white;
  border-bottom: solid 2px white;
  .login {
    color: white;
    text-decoration: none;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  display: flex;
}

.nav-link {
  color: white !important;
}
